.vs/
dotnet-code-challenge.Test/obj/dotnet-code-challenge.Test.csproj.nuget.g.targets
dotnet-code-challenge.Test/obj/dotnet-code-challenge.Test.csproj.nuget.g.props
dotnet-code-challenge.Test/obj/dotnet-code-challenge.Test.csproj.nuget.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.csprojResolveAssemblyReference.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.csprojAssemblyReference.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.csproj.CoreCompileInputs.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.assets.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.AssemblyInfoInputs.cache
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.AssemblyInfo.cs
dotnet-code-challenge/obj/dotnet-code-challenge.csproj.nuget.g.targets
dotnet-code-challenge/obj/dotnet-code-challenge.csproj.nuget.g.props
dotnet-code-challenge/obj/dotnet-code-challenge.csproj.nuget.cache
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.AssemblyInfoInputs.cache
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.AssemblyInfo.cs
dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0/dotnet-code-challenge.Test.Program.cs
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.csprojResolveAssemblyReference.cache
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.csprojAssemblyReference.cache
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.csproj.CoreCompileInputs.cache
dotnet-code-challenge/obj/Debug/netcoreapp2.0/dotnet-code-challenge.assets.cache
dotnet-code-challenge.Test/obj/project.assets.json
dotnet-code-challenge/obj/project.assets.json
*.txt
dotnet-code-challenge/bin/
dotnet-code-challenge.Test/bin/
dotnet-code-challenge.Test/obj/Debug/
dotnet-code-challenge/obj/
